{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'portfolio/css/styles.css' %}">
    <title>Portfolio</title>
</head>
<body>
    <div class='profile'>
        <h1>Olá, meu nome é Rafael Batista Ferreira!</h1>
        <h2>Eu sou um desenvolvedor Django Jr.</h2>
        <img src="{% static '/images/picture.jpg' %}" alt="picture of myself">
    </div>

    <div class= 'description'> 
        <p>Me chamo Rafael Batista Ferreira, tenho 19 anos, e sou um desenvolvedor Django, 
            eu sempre utilizei Python como linguagem principal de programação e quando descobri o Django eu me apaixonei mais ainda!</p>
    </div>

    <div class='education'>
        <h3>Educação:</h3>
        <h4>Ciência da computação</h4>
    </div>
    
</body>
</html>